<!-- Footer -->
<footer class="py-5 bg-white" style="padding:175px;">
    <div class="row">
        <div class="col-lg-4 text-center">
            <h6>YÖNETİM</h6>
            <hr />
            <ul class="nav-item" style="list-style-type:none;">
            </ul>
        </div>
        <div class="col-lg-4 text-center">
            <h6>My Evernote</h6>
            <hr />
            <span>Tüm Hakları Saklıdır® MyEvernote</span>
        </div>
        <div class="col-lg-4 text-center">
            <h6>E-Bülten Üyeliği</h6>
            <hr />
            <p>Yeniliklerden Haberdar Olmak için ...</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="e-posta" size="50" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <span class="fa fa-paper-plane">Gönder</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
